@Master['Master']

@Section['Content']
<script type="text/javascript">
    function echoTest() {

        $.ajax({
            method: "POST",
            url: window.location.pathname + "/Echo",
            data: { message: "Hello! date: " + new Date() },
            success: function (result) {
                alert(result.message);
            },
            error: function (er) {
                console.log(er)
                alert("There was an error on import, check console for more details.");
            }
        });
    }

    function syncChartOfAccounts() {
        $(".btn").attr('disabled', true);
        $.ajax({
            method: "POST",
            url: window.location.pathname + "/SyncChartOfAccounts",
            data: {},
            success: function (result) {
                $(".btn").attr('disabled', null);
                alert(result.message);
            },
            error: function (er) {
                $(".btn").attr('disabled', null);
                console.log(er)
                alert("There was an error on import, check console for more details.");
            }
        });
    }

    function syncVendors() {
        $(".btn").attr('disabled', true);
        $.ajax({
            method: "POST",
            url: window.location.pathname + "/SyncVendors",
            data: {},
            success: function (result) {
                $(".btn").attr('disabled', null);
                alert(result.message);
            },
            error: function (er) {
                $(".btn").attr('disabled', null);
                console.log(er)
                alert("There was an error on import, check console for more details.");
            }
        });
    }

    function syncPurchaseOrders() {
        $(".btn").attr('disabled', true);
        $.ajax({
            method: "POST",
            url: window.location.pathname + "/SyncPurchaseOrders",
            data: {},
            success: function (result) {
                $(".btn").attr('disabled', null);
                alert(result.message);
            },
            error: function (er) {
                $(".btn").attr('disabled', null);
                console.log(er)
                alert("There was an error on import, check console for more details.");
            }
        });
    }

    function syncProducts() {
        $(".btn").attr('disabled', true);
        $.ajax({
            method: "POST",
            url: window.location.pathname + "/SyncProducts",
            data: {},
            success: function (result) {
                $(".btn").attr('disabled', null);
                alert(result.message);
            },
            error: function (er) {
                $(".btn").attr('disabled', null);
                console.log(er)
                alert("There was an error on import, check console for more details.");
            }
        });
    }

    function syncBills() {
        $(".btn").attr('disabled', true);
        $.ajax({
            method: "POST",
            url: window.location.pathname + "/SyncInvoices",
            data: {},
            success: function (result) {
                $(".btn").attr('disabled', null);
                alert(result.message);
            },
            error: function (er) {
                $(".btn").attr('disabled', null);
                console.log(er)
                alert("There was an error on import, check console for more details.");
            }
        });
    }

    function updateTime(control) {
        $(".btn").attr('disabled', true);
        $.ajax({
            method: "POST",
            url: window.location.pathname + "/UpdateTime",
            data: { type: control, val: $("#" + control).val() },
            success: function (result) {
                $(".btn").attr('disabled', null);
                alert(result.message);
            },
            error: function (er) {
                $(".btn").attr('disabled', null);
                console.log(er)
                alert("There was an error on update, check console for more details.");
            }
        });
    }
</script>
<h3>Import from Odoo to Ocerra</h3>
<p>Trigger import functions manually.</p>
<hr>
<div class="row mb-15">
    <div class="col-xs-3">Sync Chart of Accounts:</div>
    <div class="col-xs-2"><button class="btn" onclick="syncChartOfAccounts()">Sync</button></div>
</div>
<div class="row mb-15">
    <div class="col-xs-3">Sync Vendors:</div>
    <div class="col-xs-2"><button class="btn" onclick="syncVendors()">Sync</button></div>
    <div class="col-xs-3"><input id="LastVendorSyncDate" type="datetime-local" title="Last sync date" class="form-control" value='@Model.LastVendorSyncDate' /></div>
    <div class="col-xs-2"><button class="btn" onclick="updateTime('LastVendorSyncDate')">Update</button></div>
</div>
<div class="row mb-15">
    <div class="col-xs-3">Sync Products:</div>
    <div class="col-xs-2"><button class="btn" onclick="syncProducts()">Sync</button></div>
    <div class="col-xs-3"><input id="LastProductSyncDate" type="datetime-local" title="Last sync date" class="form-control" value='@Model.LastProductSyncDate' /></div>
    <div class="col-xs-2"><button class="btn" onclick="updateTime('LastProductSyncDate')">Update</button></div>
</div>
<div class="row mb-15">
    <div class="col-xs-3">Sync Purchase Orders:</div>
    <div class="col-xs-2"><button class="btn" onclick="syncPurchaseOrders()">Sync</button></div>
    <div class="col-xs-3"><input id="LastPurchaseSyncDate" type="datetime-local" title="Last sync date" class="form-control" value='@Model.LastPurchaseSyncDate' /></div>
    <div class="col-xs-2"><button class="btn" onclick="updateTime('LastPurchaseSyncDate')">Update</button></div>
</div>
<h3>Export from Ocerra to Odoo</h3>
<p>Trigger export functions manually.</p>
<hr>
<div class="row mb-15">
    <div class="col-xs-3">Sync Bills:</div>
    <div class="col-xs-2"><button class="btn" onclick="syncBills()">Sync</button></div>
    <div class="col-xs-3"><input id="LastInvoiceSyncDate" type="datetime-local" title="Last Sync date" class="form-control" value='@Model.LastInvoiceSyncDate' /></div>
    <div class="col-xs-2"><button class="btn" onclick="updateTime('LastInvoiceSyncDate')">Update</button></div>
</div>
@EndSection