@Master['Master']

@Section['Content']
    <h3>Import from Odoo to Ocerra</h3>
    <p>Trigger import functions manually.</p>
    <hr>
    <ul>
        <!--<li>Echo Test: <button class="btn" onclick="echoTest()">Echo</button></li>-->
        <li>Sync Chart of Accounts: <button class="btn" onclick="syncChartOfAccounts()">Sync</button></li>
        <li>Sync Vendors: <button class="btn" onclick="syncVendors()">Sync</button></li>
        <li>Sync Purchase Orders: <button class="btn" onclick="syncPurchaseOrders()">Sync</button></li>
        <li>Sync Bills: <button class="btn" onclick="syncBills()">Sync</button></li>
    </ul>
@EndSection