@Master['Master']

@Section['Content']
<script type="text/javascript">
    function exportInvoicesByIds() {
        var allVals = [];
        $('.export-invoice:checked').each(function () {
            allVals.push($(this).val());
        });

        if (allVals.length > 0) {
            $(".btn").attr('disabled', true);
            $.ajax({
                method: "POST",
                url: "@Model.ApplicationPath/ExportInvoicesByIds",
                data: { voucherHeaderIds: allVals },
                success: function (result) {
                    alert(result.message);
                    $(".btn").attr('disabled', null);
                },
                error: function (er) {
                    console.log(er)
                    alert("There was an error on export, check console for more details.");
                    $(".btn").attr('disabled', null);
                }
            });
        } else {
            alert("You have not selected invoices for Export");
        }
    }

    function searchInvoice() {
        window.location = "?search=" + encodeURI($("#searchBox").val()) + "&exportState=" + $("#exportState").val();
    }

    $(document).ready(function () {
        $("#exportState").val($("#exportStateVal").val());
    });
</script>
<h3>Export invoices from Ocerra to Odoo</h3>
<div class="form-group row">
    <div class="col-xs-3">
        <input id="searchBox" type="text" class="form-control" placeholder="Search by invoice number or vendor name" value="@Model.SearchStr">
    </div>
    <div class="col-xs-2">
        <label for="exportState" class="col-xs-5 form-label">Exported</label>
        <input type="hidden" id="exportStateVal" value="@Model.ExportState" />
        <div class="col-xs-7">
            <select id="exportState" class="form-control">
                <option></option>
                <option value="True">Yes</option>
                <option value="False">No</option>
            </select>
        </div>
    </div>
    <div class="col-xs-2">
        <button class="btn btn-secondary" type="button" onclick="searchInvoice()">
            Search
        </button>
    </div>
</div>

<table class="table" style="zoom:80%;">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Number</th>
            <th scope="col">Supplier</th>
            <th scope="col">Date</th>
            <th scope="col">Due Date</th>

            <th scope="col">Status</th>
            <th scope="col">Amount</th>
            <th scope="col">PO Matches</th>
            <th scope="col">Total Matches</th>
            <th scope="col">Exported</th>
            <th scope="col"><input type="checkbox" id="exportAllInvoices" onclick="$('.export-invoice:enabled').prop('checked', $('#exportAllInvoices').prop('checked'))" /></th>
        </tr>
    </thead>
    <tbody>
        @Each.Invoices
        <tr>
            <th scope="row">
                <a href="https://app.ocerra.com/#/details/vouchers/(document:@Current.DocumentId)">
                    @Current.Number
                </a>
            </th>
            <td>@Current.Vendor</td>
            <td>@Current.Date</td>
            <td>@Current.DueDate</td>
            <td>@Current.Status</td>
            <td>@Current.Amount</td>
            <td>@Current.PoMatches</td>
            <td>@Current.TotalMatches</td>
            <td>@Current.Exported</td>
            <td title="@Current.CanExportMessage">
                <input type="checkbox" class="export-invoice" name="VoucherHeaderId" value="@Current.Id" @Current.CanExport />
            </td>
        </tr>
        @EndEach
    </tbody>
</table>

<div class="row">
    <div class="col-xs-8">
        <ul class="pagination">
            <li><a class="page-link" href="?page=@Model.PrevPage">Previous</a></li>
            <li class="disabled"><a class="page-link">Total Items: @Model.Count</a></li>
            <li><a class="page-link" href="?page=@Model.NextPage">Next</a></li>
        </ul>
    </div>
    <div class="col-xs-4">
        <button id="exportBtn" class="btn btn-danger pull-right" onclick="exportInvoicesByIds()">Export</button>
    </div>
</div>

@EndSection