@Master['Master']

@Section['Content']
<script type="text/javascript">
    function notifyPurchasersByIds() {
        var allVals = [];
        $('.export-invoice:checked').each(function () {
            allVals.push($(this).val());
        });

        if (allVals.length > 0) {
            $(".btn").attr('disabled', true);
            $.ajax({
                method: "POST",
                url: "@Model.ApplicationPath/NotifyPurchasersByIds",
                data: { voucherHeaderIds: allVals },
                success: function (result) {
                    alert(result.message);
                    $(".btn").attr('disabled', null);
                },
                error: function (er) {
                    console.log(er)
                    alert("There was an error on export, check console for more details.");
                    $(".btn").attr('disabled', null);
                }
            });
        } else {
            alert("You have not selected POs for Remind");
        }
    }

    function searchInvoice(pageNo) {
        var searchStr = "?search=" + encodeURI($("#searchBox").val()) +
            "&exportState=" + $("#cmbExported").val() +
            "&state=" + $("#cmbState").val() +
            "&poState=" + $("#cmbPoState").val() +
            "&poMatches=" + $("#cmbPoMatches").val();

        if (pageNo)
            searchStr += "&page=" + pageNo;

        window.location = searchStr;
    }
    
    $(document).ready(function () {
        
    });
</script>
<h3>Send Reminder to Purchaser</h3>
<div class="form-group row" style="zoom:80%;">
    <div class="col-xs-2">
        <input id="searchBox" type="text" class="form-control" placeholder="Search by invoice number or vendor name" value="@Model.SearchStr">
    </div>
    <div class="col-xs-2">
        <label for="cmbExported" class="col-xs-4 form-label">Exported:</label>
        <div class="col-xs-8">
            <select id="cmbExported" class="form-control">
                @Each.ExportStates
                <option @Current.Selected value="@Current.Value">@Current.Value</option>
                @EndEach
            </select>
        </div>
    </div>
    <div class="col-xs-2">
        <label for="cmbState" class="col-xs-3 form-label">State:</label>
        <div class="col-xs-9">
            <select id="cmbState" class="form-control">
                @Each.States
                <option @Current.Selected value="@Current.Value">@Current.Value</option>
                @EndEach
            </select>
        </div>
    </div>
    <div class="col-xs-2">
        <label for="cmbPoState" class="col-xs-2 form-label">PO:</label>
        <div class="col-xs-10">
            <select id="cmbPoState" class="form-control">
                @Each.PoStates
                <option @Current.Selected value="@Current.Value">@Current.Value</option>
                @EndEach
            </select>
        </div>
    </div>
    <div class="col-xs-2">
        <label for="cmbPoMatches" class="col-xs-5 form-label">PO Matches:</label>
        <div class="col-xs-7">
            <select id="cmbPoMatches" class="form-control">
                @Each.PoMatches
                <option @Current.Selected value="@Current.Value">@Current.Value</option>
                @EndEach
            </select>
        </div>
    </div>
    <div class="col-xs-2">
        <button class="btn btn-secondary" type="button" onclick="searchInvoice()">
            Search
        </button>
    </div>
</div>

<table class="table" style="zoom:80%;">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Number</th>
            <th scope="col">Supplier</th>
            <th scope="col">Date</th>
            <th scope="col">Amount</th>
            <th scope="col">State</th>
            <th scope="col">PO Number</th>
            <th scope="col">PO Status</th>
            <th scope="col">Purchaser</th>
            <th scope="col">Email</th>
            <th scope="col"><input type="checkbox" id="exportAllInvoices" onclick="$('.export-invoice:enabled').prop('checked', $('#exportAllInvoices').prop('checked'))" /></th>
        </tr>
    </thead>
    <tbody>
        @Each.Reminders
        <tr>
            <th scope="row">
                <a href="https://app.ocerra.com/#/details/vouchers/(document:@Current.DocumentId)" target="_blank">
                    @Current.Number
                </a>
            </th>
            <td>@Current.Vendor</td>
            <td>@Current.Date</td>
            <td>@Current.Total</td>
            <td>@Current.State</td>
            <td>
                <a href="https://erp.ohl.co.nz/web#id=@Current.ExternalId&view_type=form&model=purchase.order&menu_id=1564&action=870" target="_blank">
                    @Current.PONumber
                </a>
            </td>
            <td>@Current.POStatus</td>
            <td>@Current.POOriginator</td>
            <td>@Current.POOriginatorEmail</td>
            <td title="@Current.CanNotifyMessage">
                <input type="checkbox" class="export-invoice" name="VoucherHeaderId" value="@Current.VoucherId" @Current.CanNotify />
            </td>
        </tr>
        @EndEach
    </tbody>
</table>

<div class="row">
    <div class="col-xs-8">
        <ul class="pagination">
            <li><a class="page-link" href="javascript:searchInvoice(@Model.PrevPage)">Previous</a></li>
            <li class="disabled"><a class="page-link">Total Items: @Model.Count</a></li>
            <li><a class="page-link" href="javascript:searchInvoice(@Model.NextPage)">Next</a></li>
        </ul>
    </div>
    <div class="col-xs-4">
        <button id="exportBtn" class="btn btn-danger pull-right" onclick="notifyPurchasersByIds()">Remind</button>
    </div>
</div>

@EndSection